.navbar {
  margin: -1% -1% -1% -1%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #2a75bb;
}

.navbar-title {
  margin-top: 0;
  padding: 2rem 0 0.5rem 0;
  color: #ffcb05;
  font-size: 2rem;
  font-weight: bold;
}

.navbar-links {
  margin-left: 3rem;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar-links > li {
  margin: 1rem;
}

.navbar-links > li > a{
  color: #ffcb05;
}

.navbar-logout-button {
  padding: 0.2rem 0.4rem;
  background-color: #EE4B2B;
  border-radius: 0.4rem;
  font-family: 'Cairo', sans-serif;
}