<nav class="navbar">
  <h1 class="navbar-title">Pokemon App</h1>
  <ng-container *ngIf="trainer !== undefined">
    <ul class="navbar-links">
      <li>
        <a routerLink="/catalogue">All Pokemon</a>
      </li>
      <li>
        <a routerLink="/trainer">My Trainer Page</a>
      </li>
      <li>
        <button type="submit" (click)="onLogout()" class="navbar-logout-button">Log out</button>
      </li>
    </ul>
</ng-container>
</nav>
