<div>
  <button
    *ngIf="!isCaught"
    type="submit"
    class="pokemon-button pokemon-button-catch"
    (click)="onCatch()">
    Catch!
  </button>
  <button
    *ngIf="isCaught"
    type="submit"
    class="pokemon-button pokemon-button-release"
    (click)="onRelease()">
    Release
  </button>
</div>

