.pokemon-button {
  display: block;
  margin: 0 auto;
  padding: 0.5rem;
  color: white;
  border-radius: 0.4rem;
}

.pokemon-button-catch {
  background-color: #EE4B2B;
}

.pokemon-button-release {
  background-color: #2a75bb;
}