.login-form {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form > fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.login-form > fieldset > label {
  text-align: center;
  font-size: 1.5rem;
}

.login-form > fieldset > input {
  width: 10rem;
  padding: 0.4rem;
  border-radius: 0.4rem;
  font-size: 1.5rem;
}

.login-button {
  margin-top: 2rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  background-color: #2a75bb;
  color: #ffcb05;
  font-size: 1rem;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
}