<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="login-form">
  <fieldset>
    <label for="username">Username:</label>
    <input 
      type="text"
      required
      minlength="3"
      ngModel
      #username="ngModel"
      name="username"
      id="username"
      placeholder="SeverusSnape"/>
  </fieldset>

  <div *ngIf="username.invalid && (username.dirty || username.touched)"
    class="alert">
    <div *ngIf="username.errors?.['required']">
      Username is required.
    </div>
    <div *ngIf="username.errors?.['minlength']">
      Username must be at least 3 characters long.
    </div>
  </div>

  <button type="submit" class="login-button" [disabled]="loginForm.form.invalid">LOG IN</button>
</form>


