ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pokemon-card {
  width: 200px;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  background-color: #F8F0E3;
  border: solid 3px #2a75bb;
  border-radius: 0.4rem;
  text-align: center;
  align-items: center;
}