<ul>
  <li *ngFor="let poke of pokemon">
    <div class="pokemon-card">
      <h2 class="pokemon-name">{{ poke.name }}</h2>
      <img [src]="poke.imageUrl" alt="avatar" class="pokemon-image"/>
      <app-catch-pokemon-button [pokemonId]="poke.id"></app-catch-pokemon-button>
    </div>
  </li>
</ul>
